<% if @game.current_turn == @game.player_1 %>
<%= @game.player_1.name %> attacked <%= @game.player_2.name %>
<% else %>
<%= @game.player_2.name %> attacked <%= @game.player_1.name %>
<% end %>

<form action="/switch-turns" method="post">
    <input type="submit" value="OK">
</form>